In [48]:
!pip install sqlalchemy
!pip install mysql-connector-python
!pip install python-decouple python-dotenv

Requirement already satisfied: sqlalchemy in c:\users\joanm\onedrive\escritorio\university\5\etl\etl_env\etl\lib\site-packages (2.0.28)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\joanm\onedrive\escritorio\university\5\etl\etl_env\etl\lib\site-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\joanm\onedrive\escritorio\university\5\etl\etl_env\etl\lib\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: mysql-connector-python in c:\users\joanm\onedrive\escritorio\university\5\etl\etl_env\etl\lib\site-packages (8.3.0)
Requirement already satisfied: python-decouple in c:\users\joanm\onedrive\escritorio\university\5\etl\etl_env\etl\lib\site-packages (3.8)
Requirement already satisfied: python-dotenv in c:\users\joanm\onedrive\escritorio\university\5\etl\etl_env\etl\lib\site-packages (1.0.1)

In [49]:
import Pysqlconnect
import pandas as pd
import re
import sqlalchemy.types

In [50]:
df_registro = pd.read_csv(r"../Datasets/healthcare_dataset.csv")

In [51]:
print(df_registro.shape)

(10000, 15)

In [52]:
df_registro.keys()

Index(['Name', 'Age', 'Gender', 'Blood Type', 'Medical Condition',
       'Date of Admission', 'Doctor', 'Hospital', 'Insurance Provider',
       'Billing Amount', 'Room Number', 'Admission Type', 'Discharge Date',
       'Medication', 'Test Results'],
      dtype='object')

In [53]:
def drop_blank(String):
    try:
        result = String.split()[0]
        result = "".join(result+String.split()[1])
    except:
        result = String
    return result

In [54]:
print(drop_blank("hola mundo"))

holamundo

In [55]:
print(drop_blank("holka"))

holka

In [56]:
df_registro["user"] = df_registro["Name"].apply(drop_blank) + df_registro["Age"].astype(str)+ "@gmail.com"

In [57]:
import sqlalchemy.types

In [58]:
df_registro

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,user
0,Tiffany Ramirez,81,Female,O-,Diabetes,2022-11-17,Patrick Parker,Wallace-Hamilton,Medicare,37490.983364,146,Elective,2022-12-01,Aspirin,Inconclusive,TiffanyRamirez81@gmail.com
1,Ruben Burns,35,Male,O+,Asthma,2023-06-01,Diane Jackson,"Burke, Griffin and Cooper",UnitedHealthcare,47304.064845,404,Emergency,2023-06-15,Lipitor,Normal,RubenBurns35@gmail.com
2,Chad Byrd,61,Male,B-,Obesity,2019-01-09,Paul Baker,Walton LLC,Medicare,36874.896997,292,Emergency,2019-02-08,Lipitor,Normal,ChadByrd61@gmail.com
3,Antonio Frederick,49,Male,B-,Asthma,2020-05-02,Brian Chandler,Garcia Ltd,Medicare,23303.322092,480,Urgent,2020-05-03,Penicillin,Abnormal,AntonioFrederick49@gmail.com
4,Mrs. Brandy Flowers,51,Male,O-,Arthritis,2021-07-09,Dustin Griffin,"Jones, Brown and Murray",UnitedHealthcare,18086.344184,477,Urgent,2021-08-02,Paracetamol,Normal,Mrs.Brandy51@gmail.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,James Hood,83,Male,A+,Obesity,2022-07-29,Samuel Moody,"Wood, Martin and Simmons",UnitedHealthcare,39606.840083,110,Elective,2022-08-02,Ibuprofen,Abnormal,JamesHood83@gmail.com
9996,Stephanie Evans,47,Female,AB+,Arthritis,2022-01-06,Christopher Yates,Nash-Krueger,Blue Cross,5995.717488,244,Emergency,2022-01-29,Ibuprofen,Normal,StephanieEvans47@gmail.com
9997,Christopher Martinez,54,Male,B-,Arthritis,2022-07-01,Robert Nicholson,Larson and Sons,Blue Cross,49559.202905,312,Elective,2022-07-15,Ibuprofen,Normal,ChristopherMartinez54@gmail.com
9998,Amanda Duke,84,Male,A+,Arthritis,2020-02-06,Jamie Lewis,Wilson-Lyons,UnitedHealthcare,25236.344761,420,Urgent,2020-02-26,Penicillin,Normal,AmandaDuke84@gmail.com
9999,Eric King,20,Male,B-,Arthritis,2023-03-22,Tasha Avila,"Torres, Young and Stewart",Aetna,37223.965865,290,Emergency,2023-04-15,Penicillin,Abnormal,EricKing20@gmail.com

In [59]:
df_registro.user.nunique()

9988

In [60]:
df_registro.user.value_counts()[df_registro.user.value_counts() > 1].keys()

Index(['MichelleWilliams60@gmail.com', 'StevenDavis48@gmail.com',
       'ElizabethRobertson68@gmail.com', 'RichardJohnson61@gmail.com',
       'LauraJones77@gmail.com', 'AmandaSmith19@gmail.com',
       'ThomasHill32@gmail.com', 'DavidGarcia60@gmail.com',
       'CharlesHernandez78@gmail.com', 'JohnMiller50@gmail.com',
       'ElizabethJones70@gmail.com', 'LindaJohnson58@gmail.com'],
      dtype='object', name='user')

In [61]:
list_of_duplicates = list(df_registro.user.value_counts()[df_registro.user.value_counts() > 1].keys())
print(list_of_duplicates)

['MichelleWilliams60@gmail.com', 'StevenDavis48@gmail.com', 'ElizabethRobertson68@gmail.com', 'RichardJohnson61@gmail.com', 'LauraJones77@gmail.com', 'AmandaSmith19@gmail.com', 'ThomasHill32@gmail.com', 'DavidGarcia60@gmail.com', 'CharlesHernandez78@gmail.com', 'JohnMiller50@gmail.com', 'ElizabethJones70@gmail.com', 'LindaJohnson58@gmail.com']

In [62]:
df_registro[df_registro["user"]=="StevenDavis48@gmail.com"].index

Index([778, 784], dtype='int64')

In [63]:
list(df_registro[df_registro["user"]=="StevenDavis48@gmail.com"].index)

[778, 784]

In [64]:
for duplicate in list_of_duplicates:
    index_duplicate = list(df_registro[df_registro["user"]==f"{duplicate}"].index)
    model = df_registro.loc[index_duplicate[0], "Blood Type"]
    for i in range(len(index_duplicate)):
        if i > 0:
            print(index_duplicate[0], end="\n<---<model>--->\n")
            print(index_duplicate[i], end="\n//\n")
            print(f"find duplicate user : {df_registro.loc[index_duplicate[i]], "user"}")
            df_registro.loc[index_duplicate[i], "Blood Type"] = model
                 
print("<-- fix inconsistency -->")

863
<---<model>--->
1497
//
find duplicate user : (Name                             Michelle Williams
Age                                             60
Gender                                      Female
Blood Type                                     AB+
Medical Condition                     Hypertension
Date of Admission                       2020-04-07
Doctor                                 David Perry
Hospital                               Smith-Smith
Insurance Provider                           Aetna
Billing Amount                         2378.103932
Room Number                                    473
Admission Type                           Emergency
Discharge Date                          2020-04-13
Medication                              Penicillin
Test Results                          Inconclusive
user                  MichelleWilliams60@gmail.com
Name: 1497, dtype: object, 'user')
778
<---<model>--->
784
//
find duplicate user : (Name                             Steven Davis
Age                                        48
Gender                                   Male
Blood Type                                 O+
Medical Condition                    Diabetes
Date of Admission                  2022-01-05
Doctor                       Elizabeth Ashley
Hospital                             Cox-Lowe
Insurance Provider                 Blue Cross
Billing Amount                   48627.347606
Room Number                               300
Admission Type                         Urgent
Discharge Date                     2022-01-10
Medication                          Ibuprofen
Test Results                           Normal
user                  StevenDavis48@gmail.com
Name: 784, dtype: object, 'user')
7926
<---<model>--->
8315
//
find duplicate user : (Name                             Elizabeth Robertson
Age                                               68
Gender                                          Male
Blood Type                                       AB+
Medical Condition                             Asthma
Date of Admission                         2023-01-26
Doctor                               Jasmine Perkins
Hospital                                 Case-Valdez
Insurance Provider                        Blue Cross
Billing Amount                           3708.014756
Room Number                                      189
Admission Type                              Elective
Discharge Date                            2023-02-23
Medication                                   Lipitor
Test Results                            Inconclusive
user                  ElizabethRobertson68@gmail.com
Name: 8315, dtype: object, 'user')
4961
<---<model>--->
5453
//
find duplicate user : (Name                         Richard Johnson DDS
Age                                           61
Gender                                      Male
Blood Type                                    A+
Medical Condition                         Asthma
Date of Admission                     2019-11-25
Doctor                           Bailey Peterson
Hospital                           Garcia-Barron
Insurance Provider                         Aetna
Billing Amount                      14114.391134
Room Number                                  327
Admission Type                          Elective
Discharge Date                        2019-12-21
Medication                            Penicillin
Test Results                        Inconclusive
user                  RichardJohnson61@gmail.com
Name: 5453, dtype: object, 'user')
990
<---<model>--->
6426
//
find duplicate user : (Name                             Laura Jones
Age                                       77
Gender                                  Male
Blood Type                                O+
Medical Condition                    Obesity
Date of Admission                 2020-03-24
Doctor                        Shelby Merritt
Hospital                       Todd-Gonzalez
Insurance Provider          UnitedHealthcare
Billing Amount                  25848.394795
Room Number                              428
Admission Type                      Elective
Discharge Date                    2020-04-17
Medication                       Paracetamol
Test Results                        Abnormal
user                  LauraJones77@gmail.com
Name: 6426, dtype: object, 'user')
354
<---<model>--->
3996
//
find duplicate user : (Name                             Amanda Smith
Age                                        19
Gender                                 Female
Blood Type                                AB-
Medical Condition                    Diabetes
Date of Admission                  2022-12-07
Doctor                         Patricia Brady
Hospital                        Beltran-Kelly
Insurance Provider                 Blue Cross
Billing Amount                   21146.308662
Room Number                               484
Admission Type                       Elective
Discharge Date                     2022-12-11
Medication                        Paracetamol
Test Results                         Abnormal
user                  AmandaSmith19@gmail.com
Name: 3996, dtype: object, 'user')
1935
<---<model>--->
7023
//
find duplicate user : (Name                             Thomas Hill
Age                                       32
Gender                                  Male
Blood Type                                O-
Medical Condition                     Asthma
Date of Admission                 2023-08-10
Doctor                            Carl Davis
Hospital                      Harvey-Burnett
Insurance Provider                     Aetna
Billing Amount                  12955.518576
Room Number                              423
Admission Type                     Emergency
Discharge Date                    2023-08-30
Medication                       Paracetamol
Test Results                        Abnormal
user                  ThomasHill32@gmail.com
Name: 7023, dtype: object, 'user')
926
<---<model>--->
9844
//
find duplicate user : (Name                              David Garcia
Age                                         60
Gender                                  Female
Blood Type                                  B+
Medical Condition                 Hypertension
Date of Admission                   2019-08-18
Doctor                          Eugene Johnson
Hospital              Norris, Ellis and Waters
Insurance Provider            UnitedHealthcare
Billing Amount                    48559.376379
Room Number                                160
Admission Type                       Emergency
Discharge Date                      2019-08-19
Medication                         Paracetamol
Test Results                      Inconclusive
user                   DavidGarcia60@gmail.com
Name: 9844, dtype: object, 'user')
9536
<---<model>--->
9891
//
find duplicate user : (Name                             Charles Hernandez
Age                                             78
Gender                                      Female
Blood Type                                      B-
Medical Condition                         Diabetes
Date of Admission                       2023-04-21
Doctor                                 Shelby Boyd
Hospital                             Morris-Farley
Insurance Provider                      Blue Cross
Billing Amount                        49650.672882
Room Number                                    150
Admission Type                            Elective
Discharge Date                          2023-04-28
Medication                             Paracetamol
Test Results                                Normal
user                  CharlesHernandez78@gmail.com
Name: 9891, dtype: object, 'user')
7564
<---<model>--->
9878
//
find duplicate user : (Name                                John Miller
Age                                          50
Gender                                     Male
Blood Type                                   B-
Medical Condition                     Arthritis
Date of Admission                    2023-05-23
Doctor                          James Mccormick
Hospital              Clark, Warren and Beltran
Insurance Provider             UnitedHealthcare
Billing Amount                      6711.307078
Room Number                                 236
Admission Type                         Elective
Discharge Date                       2023-05-24
Medication                              Lipitor
Test Results                             Normal
user                     JohnMiller50@gmail.com
Name: 9878, dtype: object, 'user')
3582
<---<model>--->
5843
//
find duplicate user : (Name                             Elizabeth Jones
Age                                           70
Gender                                      Male
Blood Type                                    A+
Medical Condition                        Obesity
Date of Admission                     2020-08-31
Doctor                                 Eric Shaw
Hospital                             Clay-Hughes
Insurance Provider                      Medicare
Billing Amount                      20450.730077
Room Number                                  413
Admission Type                          Elective
Discharge Date                        2020-09-20
Medication                               Lipitor
Test Results                            Abnormal
user                  ElizabethJones70@gmail.com
Name: 5843, dtype: object, 'user')
2115
<---<model>--->
6605
//
find duplicate user : (Name                             Linda Johnson
Age                                         58
Gender                                  Female
Blood Type                                  B+
Medical Condition                       Cancer
Date of Admission                   2023-04-14
Doctor                            Joshua Smith
Hospital                       Browning-Harris
Insurance Provider                  Blue Cross
Billing Amount                    13481.843601
Room Number                                470
Admission Type                        Elective
Discharge Date                      2023-05-07
Medication                           Ibuprofen
Test Results                          Abnormal
user                  LindaJohnson58@gmail.com
Name: 6605, dtype: object, 'user')
<-- fix inconsistency -->

In [65]:
df_registro.loc[863]

Name                             Michelle Williams
Age                                             60
Gender                                        Male
Blood Type                                      B+
Medical Condition                         Diabetes
Date of Admission                       2021-06-06
Doctor                                 Amanda Shaw
Hospital                  Price, Wilkins and Brock
Insurance Provider                           Aetna
Billing Amount                        16817.144711
Room Number                                    228
Admission Type                           Emergency
Discharge Date                          2021-07-06
Medication                              Penicillin
Test Results                              Abnormal
user                  MichelleWilliams60@gmail.com
Name: 863, dtype: object

In [66]:
df_registro.loc[1497]

Name                             Michelle Williams
Age                                             60
Gender                                      Female
Blood Type                                      B+
Medical Condition                     Hypertension
Date of Admission                       2020-04-07
Doctor                                 David Perry
Hospital                               Smith-Smith
Insurance Provider                           Aetna
Billing Amount                         2378.103932
Room Number                                    473
Admission Type                           Emergency
Discharge Date                          2020-04-13
Medication                              Penicillin
Test Results                          Inconclusive
user                  MichelleWilliams60@gmail.com
Name: 1497, dtype: object

In [67]:
df_user = df_registro.loc[:, ("user","Name")].copy()

In [68]:
df_user.drop_duplicates(inplace=True)
df_user.shape

(9990, 2)

In [69]:
def  create_password(email):
    pattern = r"@" #def the pattern to search
    coincidencias = re.search(pattern, email) #search the pattern at email 
    found = coincidencias.start() #save the first index of @ at email
    email = email[:found].lower() #get the text behind @ and transform to lower text
    return email

In [70]:
df_user["password"] = df_user["user"].apply(create_password)

In [71]:
df_user

,user,Name,password
0,TiffanyRamirez81@gmail.com,Tiffany Ramirez,tiffanyramirez81
1,RubenBurns35@gmail.com,Ruben Burns,rubenburns35
2,ChadByrd61@gmail.com,Chad Byrd,chadbyrd61
3,AntonioFrederick49@gmail.com,Antonio Frederick,antoniofrederick49
4,Mrs.Brandy51@gmail.com,Mrs. Brandy Flowers,mrs.brandy51
...,...,...,...
9995,JamesHood83@gmail.com,James Hood,jameshood83
9996,StephanieEvans47@gmail.com,Stephanie Evans,stephanieevans47
9997,ChristopherMartinez54@gmail.com,Christopher Martinez,christophermartinez54
9998,AmandaDuke84@gmail.com,Amanda Duke,amandaduke84
9999,EricKing20@gmail.com,Eric King,ericking20

In [72]:
df_user[df_user.user == "AmandaSmith19@gmail.com"]

                         user             Name       password
354   AmandaSmith19@gmail.com  Amanda Smith MD  amandasmith19
3996  AmandaSmith19@gmail.com     Amanda Smith  amandasmith19

In [73]:
df_user.drop_duplicates(inplace=True)

In [74]:
df_user.shape

(9990, 3)

In [75]:
s_doctor = df_registro.loc[:, ("Doctor")].copy()

In [76]:
s_doctor_user = s_doctor.apply(drop_blank) + "@gmail.com"

In [77]:
df_doctor = pd.DataFrame({
                          "user":s_doctor_user,
                          "Name":s_doctor    
})

In [78]:
df_doctor.drop_duplicates(inplace=True)
df_doctor.shape

(9416, 2)

In [79]:
df_doctor.shape

(9416, 2)

In [80]:
df_doctor["password"] = df_doctor["user"].apply(create_password)
df_doctor

                            user               Name          password
0        PatrickParker@gmail.com     Patrick Parker     patrickparker
1         DianeJackson@gmail.com      Diane Jackson      dianejackson
2            PaulBaker@gmail.com         Paul Baker         paulbaker
3        BrianChandler@gmail.com     Brian Chandler     brianchandler
4        DustinGriffin@gmail.com     Dustin Griffin     dustingriffin
...                          ...                ...               ...
9995       SamuelMoody@gmail.com       Samuel Moody       samuelmoody
9996  ChristopherYates@gmail.com  Christopher Yates  christopheryates
9997   RobertNicholson@gmail.com   Robert Nicholson   robertnicholson
9998        JamieLewis@gmail.com        Jamie Lewis        jamielewis
9999        TashaAvila@gmail.com        Tasha Avila        tashaavila

[9416 rows x 3 columns]

In [81]:
df_doctor

                            user               Name          password
0        PatrickParker@gmail.com     Patrick Parker     patrickparker
1         DianeJackson@gmail.com      Diane Jackson      dianejackson
2            PaulBaker@gmail.com         Paul Baker         paulbaker
3        BrianChandler@gmail.com     Brian Chandler     brianchandler
4        DustinGriffin@gmail.com     Dustin Griffin     dustingriffin
...                          ...                ...               ...
9995       SamuelMoody@gmail.com       Samuel Moody       samuelmoody
9996  ChristopherYates@gmail.com  Christopher Yates  christopheryates
9997   RobertNicholson@gmail.com   Robert Nicholson   robertnicholson
9998        JamieLewis@gmail.com        Jamie Lewis        jamielewis
9999        TashaAvila@gmail.com        Tasha Avila        tashaavila

[9416 rows x 3 columns]

In [82]:
df_registro.keys()

Index(['Name', 'Age', 'Gender', 'Blood Type', 'Medical Condition',
       'Date of Admission', 'Doctor', 'Hospital', 'Insurance Provider',
       'Billing Amount', 'Room Number', 'Admission Type', 'Discharge Date',
       'Medication', 'Test Results', 'user'],
      dtype='object')

In [83]:
df_registro = df_registro.loc[:, ("user", "Name", "Age", "Gender", "Blood Type", "Insurance Provider", "Medication", "Doctor" )].copy()

In [84]:
df_registro.keys()

Index(['user', 'Name', 'Age', 'Gender', 'Blood Type', 'Insurance Provider',
       'Medication', 'Doctor'],
      dtype='object')

In [85]:
df_registro["Doctor_user"] = df_registro.Doctor.apply(drop_blank) + "@gmail.com"

In [86]:
df_registro

,user,Name,Age,Gender,Blood Type,Insurance Provider,Medication,Doctor,Doctor_user
0,TiffanyRamirez81@gmail.com,Tiffany Ramirez,81,Female,O-,Medicare,Aspirin,Patrick Parker,PatrickParker@gmail.com
1,RubenBurns35@gmail.com,Ruben Burns,35,Male,O+,UnitedHealthcare,Lipitor,Diane Jackson,DianeJackson@gmail.com
2,ChadByrd61@gmail.com,Chad Byrd,61,Male,B-,Medicare,Lipitor,Paul Baker,PaulBaker@gmail.com
3,AntonioFrederick49@gmail.com,Antonio Frederick,49,Male,B-,Medicare,Penicillin,Brian Chandler,BrianChandler@gmail.com
4,Mrs.Brandy51@gmail.com,Mrs. Brandy Flowers,51,Male,O-,UnitedHealthcare,Paracetamol,Dustin Griffin,DustinGriffin@gmail.com
...,...,...,...,...,...,...,...,...,...
9995,JamesHood83@gmail.com,James Hood,83,Male,A+,UnitedHealthcare,Ibuprofen,Samuel Moody,SamuelMoody@gmail.com
9996,StephanieEvans47@gmail.com,Stephanie Evans,47,Female,AB+,Blue Cross,Ibuprofen,Christopher Yates,ChristopherYates@gmail.com
9997,ChristopherMartinez54@gmail.com,Christopher Martinez,54,Male,B-,Blue Cross,Ibuprofen,Robert Nicholson,RobertNicholson@gmail.com
9998,AmandaDuke84@gmail.com,Amanda Duke,84,Male,A+,UnitedHealthcare,Penicillin,Jamie Lewis,JamieLewis@gmail.com
9999,EricKing20@gmail.com,Eric King,20,Male,B-,Aetna,Penicillin,Tasha Avila,TashaAvila@gmail.com

In [87]:
df_user

,user,Name,password
0,TiffanyRamirez81@gmail.com,Tiffany Ramirez,tiffanyramirez81
1,RubenBurns35@gmail.com,Ruben Burns,rubenburns35
2,ChadByrd61@gmail.com,Chad Byrd,chadbyrd61
3,AntonioFrederick49@gmail.com,Antonio Frederick,antoniofrederick49
4,Mrs.Brandy51@gmail.com,Mrs. Brandy Flowers,mrs.brandy51
...,...,...,...
9995,JamesHood83@gmail.com,James Hood,jameshood83
9996,StephanieEvans47@gmail.com,Stephanie Evans,stephanieevans47
9997,ChristopherMartinez54@gmail.com,Christopher Martinez,christophermartinez54
9998,AmandaDuke84@gmail.com,Amanda Duke,amandaduke84
9999,EricKing20@gmail.com,Eric King,ericking20

In [88]:
df_doctor

                            user               Name          password
0        PatrickParker@gmail.com     Patrick Parker     patrickparker
1         DianeJackson@gmail.com      Diane Jackson      dianejackson
2            PaulBaker@gmail.com         Paul Baker         paulbaker
3        BrianChandler@gmail.com     Brian Chandler     brianchandler
4        DustinGriffin@gmail.com     Dustin Griffin     dustingriffin
...                          ...                ...               ...
9995       SamuelMoody@gmail.com       Samuel Moody       samuelmoody
9996  ChristopherYates@gmail.com  Christopher Yates  christopheryates
9997   RobertNicholson@gmail.com   Robert Nicholson   robertnicholson
9998        JamieLewis@gmail.com        Jamie Lewis        jamielewis
9999        TashaAvila@gmail.com        Tasha Avila        tashaavila

[9416 rows x 3 columns]

In [89]:
df_registro

,user,Name,Age,Gender,Blood Type,Insurance Provider,Medication,Doctor,Doctor_user
0,TiffanyRamirez81@gmail.com,Tiffany Ramirez,81,Female,O-,Medicare,Aspirin,Patrick Parker,PatrickParker@gmail.com
1,RubenBurns35@gmail.com,Ruben Burns,35,Male,O+,UnitedHealthcare,Lipitor,Diane Jackson,DianeJackson@gmail.com
2,ChadByrd61@gmail.com,Chad Byrd,61,Male,B-,Medicare,Lipitor,Paul Baker,PaulBaker@gmail.com
3,AntonioFrederick49@gmail.com,Antonio Frederick,49,Male,B-,Medicare,Penicillin,Brian Chandler,BrianChandler@gmail.com
4,Mrs.Brandy51@gmail.com,Mrs. Brandy Flowers,51,Male,O-,UnitedHealthcare,Paracetamol,Dustin Griffin,DustinGriffin@gmail.com
...,...,...,...,...,...,...,...,...,...
9995,JamesHood83@gmail.com,James Hood,83,Male,A+,UnitedHealthcare,Ibuprofen,Samuel Moody,SamuelMoody@gmail.com
9996,StephanieEvans47@gmail.com,Stephanie Evans,47,Female,AB+,Blue Cross,Ibuprofen,Christopher Yates,ChristopherYates@gmail.com
9997,ChristopherMartinez54@gmail.com,Christopher Martinez,54,Male,B-,Blue Cross,Ibuprofen,Robert Nicholson,RobertNicholson@gmail.com
9998,AmandaDuke84@gmail.com,Amanda Duke,84,Male,A+,UnitedHealthcare,Penicillin,Jamie Lewis,JamieLewis@gmail.com
9999,EricKing20@gmail.com,Eric King,20,Male,B-,Aetna,Penicillin,Tasha Avila,TashaAvila@gmail.com

In [90]:
df_user["type"] = 1

**if to_sql trhow error set this comand into mysql**
<pre>SET GLOBAL max_allowed_packet = 524288000</pre>

In [91]:
Pysqlconnect.connection().connect().rollback()
df_registro.to_sql("registro", con=Pysqlconnect.connection(), if_exists="replace", index=False, dtype={
                                                                                          "user":sqlalchemy.types.String(40),
                                                                                          "Namae":sqlalchemy.types.String(40),
                                                                                          "Age":sqlalchemy.types.INTEGER(),
                                                                                          "Gender":sqlalchemy.types.String(10),
                                                                                          "Blood Type":sqlalchemy.types.String(5),
                                                                                          "Insurance Provider":sqlalchemy.types.String(40),
                                                                                          "Medication":sqlalchemy.types.String(40),
                                                                                          "Doctor":sqlalchemy.types.String(40),
                                                                                          "Doctor_user":sqlalchemy.types.String(40)
                                                                                          })

10000

In [92]:
df_user.to_sql("users", con=Pysqlconnect.connection(), if_exists="replace", index=False, dtype={"user":sqlalchemy.types.String(40),
                                                                                                "password":sqlalchemy.types.String(40),
                                                                                                "Name":sqlalchemy.types.String(40)})

9990

In [93]:
df_doctor.to_sql("doctors", con=Pysqlconnect.connection(), if_exists="replace", dtype={"user":sqlalchemy.types.String(40),
                                                                                                "password":sqlalchemy.types.String(40),
                                                                                                "Name":sqlalchemy.types.String(40)})

9416

In [94]:
df_registro.to_csv("../Datasets/registro.csv")
df_user.to_csv("../Datasets/users.csv")
df_user.to_csv("../Datasets/doctors.csv")

In [95]:
# Create the ids into mysql
"""
ALTER TABLE registro
ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY;

ALTER TABLE users
ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY;

ALTER TABLE doctors
ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY;

"""

'\nALTER TABLE registro\nADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY;\n\nALTER TABLE users\nADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY;\n\nALTER TABLE doctors\nADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY;\n\n'